/* General Global Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #e4e9ed;
    width: 100%;
    height: 100%;
}

.kehadiran {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 0px;
    gap: 50px;
}

.kehadiran .hadir,
.kehadiran .tidak-hadir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.kehadiran .hadir span {
    font-size: 48px;
    color: rgb(0, 255, 0);
}

.kehadiran .tidak-hadir span {
    font-size: 48px;
    color: red;
}

.ucapan {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
    color: #FFFFFF;
}

td {
    color: #000000;
}

th:nth-child(1),
td:nth-child(1) {
    width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 50%;
}

thead {
    th {
        background-color: #55608f;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    td {
        position: relative;

        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
        }
    }
}