/* Import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* General Global Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #FF0066
}

body {
    position: relative;
    background: #FFFFFF;
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow: hidden;
}
/*============================================================================================
# Header
============================================================================================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: 1s;
    z-index: 1300;
}

header.active {
    background: #F8F4FF;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.logo {
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 400;
    text-decoration: none;
}

.menu {
    color: #000000;
    font-size: 2em;
    transition: 0.5s;
}

/* Menu on Mobile */
/* ====================================================*/
.menu .open {
    display: block;
}


.menu .close {
    display: none;
}

.menu.active .open {
    display: none;
}

.menu.active .close {
    display: block;
}
/* ====================================================*/

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    padding: 10px;
}

.nav li a:hover,
.nav li a.active {
    color: var(--primary);
}

/**
.search {
    position: relative;
    width: 300px;
    height: 40px;
    transition: 0.5s;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 0 10px 0 15px;
}

.search input::placeholder {
    color: #000000;
    text-transform: uppercase;
    font-weight: 350;
}

.search ion-icon {
    font-size: 1.4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding-left: 10px;
    color: #000000;
    cursor: pointer;
    border-left: 1px solid #000000;
}
*/


/*============================================================================================
# Mobile Navigation
============================================================================================*/
.nav-mobile {
    display: none;
}

.nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1200;
    gap: 20px;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-mobile.active {
    opacity: 1;
    visibility: visible;
}

.nav-mobile li {
    position: relative;
    list-style: none;
}

.nav-mobile li a {
    color: #111111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 300;
    padding: 10px;
}

.nav-mobile li a:hover {
    color: var(--primary);
}



/*============================================================================================
# Banner
============================================================================================*/
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
}

.banner .bismillah {
    width: 400px;
    height: 150px;
    object-fit: contain;
}

.banner .salam {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .content .intro {
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    color: #111111;
    text-align: center;
}

.banner .pengantin {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .content .pengantin p {
    margin-bottom: 0;
    font-size: 2.5em;
}

.banner .content .tarikh p {
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    color: #111111;
    text-align: center;
    font-weight: 700;
}

.bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-slide .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    width: 60vw;
    z-index: 1100;
    transition: ease-in-out 3s;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

.bg-slide .content h1 {
    font-size: 8em;
    text-transform: uppercase;
}


.bg-slide .content p {
    font-family: "Great Vibes", cursive;
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 1px;
}

.bg-slide.active .content {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

/** Countdown Timer **/
/* ====================================================================*/
.bg-slide .content li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.bg-slide .content li span {
    display: block;
    font-size: 3.5rem;
}
/* ====================================================================*/


.circle {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0) rotateZ(0);
    opacity: 0;
    visibility: hidden;
    transition: 3s;
}

.circle.bg {
    background: transparent;
    width: 140vw;
    height: 140vw;
    border-radius: 0;
}

.circle.large {
    width: 70vw;
    height: 70vw;
}

.circle.small {
    width: 35vw;
    height: 35vw;
}

.circle img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.circle.bg img {
    border-radius: 0;
}

.circle.large img {
    transform: scale(2);
}

.circle.small img {
    transform: scale(4);
}

.bg-slide.active .circle.bg {
    transform: translate(0, 0) rotateZ(-360deg);
    opacity: 1;
    visibility: visible;
}

.bg-slide.active .circle.large {
    transform: translate(0, 0) rotateZ(720deg);
    opacity: 1;
    visibility: visible;
}

.bg-slide.active .circle.small {
    transform: translate(0, 0) rotateZ(-720deg);
    opacity: 1;
    visibility: visible;
}

.slide-loader {
    position: absolute;
    z-index: 1100;
    bottom: 50px;
    right: 100px;
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}

.slide-loader li {
    list-style: none;
    display: flex;
    align-items: end;
}

.slide-loader li a {
    text-decoration: none;
    color: #111111;
    font-size: 2em;
    font-weight: 800;
    transition: 0.5s;
    line-height: 1em;
    cursor: pointer;
    padding: 0;
}

.slide-loader li a.active,
.slide-loader li a:hover {
    font-size: 4em;
}

.slide-loader::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -70%;
    width: 100%;
    height: 2px;
    background: #111111;
}

.share {
    position: absolute;
    bottom: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1200;
}

.share::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: -120%;
    height: 100px;
    width: 2px;
    background: #F8F4FF;
}

.share p {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: #F8F4FF;
}

.share a {
    text-decoration: none;
    color: #F8F4FF;
}

.share a ion-icon {
    font-size: 1.8em;
}

.lead {
    position: absolute;
    bottom: 0;
    z-index: 1100;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-down {
    position: absolute;
    z-index: 1100;
    color: #111111;
    animation: flink 1s linear infinite;
}

.move-down ion-icon {
    font-size: 3.5em;
}

@keyframes flink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.lead svg {
    font-family: "Great Vibes", cursive;
    position: absolute;
    z-index: 1100;
    fill: currentColor;
    height: auto;
    max-width: 20vmin;
    transform-origin: center;
    width: 66%;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}


/*============================================================================================
# Sections General
============================================================================================*/
section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 100vh;
    bottom: 0;
    background: #F8F4FF;
    transition: ease-in-out 1s;
    transform-origin: bottom;
    z-index: 1100;
    opacity: 0;
}

section::-webkit-scrollbar {
    display: none;
}

section.section-show {
    padding: 150px 100px 100px;
    top: 0;
    height: auto;
    min-height: 100vh;
    overflow-y: visible;
    opacity: 1;
}

section h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: 1px;
    margin-bottom: 150px;
    text-align: center;
}

section h4 {
    font-family: "Great Vibes", cursive;
    font-weight: 300;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

section p {
    font-weight: 300;
    color: #111111;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

/*============================================================================================
# About Section
============================================================================================*/
.about {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.about h1 {
    color: #F8F4FF;
}

.about h4 {
    color: #F8F4FF;
}

.about p {
    color: #F8F4FF;
}

.about h4::first-letter {
    color: var(--primary);
    font-size: 2em;
}

.about::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    height: 100px;
    width: 2px;
    background: #F8F4FF;
}

.about .img-box {
    position: relative;
}

.about .img-box img {
    max-width: 450px;
}

.about .img-box .corner-img {
    position: absolute;
    width: 15vw;
    right: 10px;
    bottom: -50px;
}

.section-bg-img {
    position: absolute;
    bottom: 50px;
    right: 200px;
    opacity: 0.1;
    z-index: 100;
    pointer-events: none;
}

.section-btn {
    position: relative;
    text-decoration: none;
    color: #F8F4FF;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.3s;
}

.section-btn:hover {
    color: var(--primary);
}

.section-btn::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -10px;
    width: 85%;
    height: 1px;
    background: #F8F4FF;
    transition: 0.3s;
}

.section-btn:hover::before {
    left: 20%;
    background: var(--primary);
}


/*============================================================================================
# Services Section
============================================================================================*/
.services {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}

.services h1 {
    color: #F8F4FF;
}

.services::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    height: 100px;
    width: 2px;
    background: #F8F4FF;
}

.card {
    position: relative;
    margin: 20px 0;
    width: 350px;
    height: 500px;
    background: #FFFFFF;
    border: none;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: ease-in-out 1s;
    border-radius: 0;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.25);
}

.card:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.card .img-box {
    position: relative;
    border-style: none;
    width: 100%;
    height: 100%;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card:hover .img-box {
    transform: rotateY(-130deg);
}

.card .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 50px 20px 20px;
}

.card .details::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: url('../images/tree.png') no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
}

.card .details h4::first-letter {
    color: var(--primary);
    font-size: 1.5em;
}


/*============================================================================================
# Location Section
============================================================================================*/
.location {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.location h1 {
    margin-bottom: 50px;
    color: #F8F4FF;
}

.location .info {
    width: 100%;
    background: transparent;
}

.location .info ion-icon {
    display: flex;
    font-size: 0.6em;
    padding: 8px;
    color: var(--primary);
    float: left;
    width: 45px;
    height: 45px;
    background: #F4E3EA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    margin-right: 20px;
}

.location .info h4 {
    padding: 0 0 0 60px;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 6px;
    color: #F8F4FF;
}

.location .info p {
    padding: 0 0 0 60px;
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
    color: #F8F4FF;
}

.location .info .email,
.location .info .phone {
    margin-top: 40px;
}


/*============================================================================================
# RSVP
============================================================================================*/
.rsvp {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.rsvp h1 {
    margin-bottom: 50px;
    color: #F8F4FF;
}

.rsvp p {
    margin: 0;
}

.rsvp .box-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background: #F8F4FF;
    overflow-y: auto;
    padding: 12px 24px;
    gap: 10px;
    border-radius: 5px;
}

.rsvp .element {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px 12px;
    background-color: transparent;
    border-bottom: 1px solid #DDDDDD;
    gap: 20px;
}

.rsvp .element p {
    font-size: 0.9em;
}

.rsvp .element :nth-child(2) {
    color: grey;
    font-size: 0.9em;
}

.rsvp .element :nth-child(2)::before {
    content: '--';
    color: grey;
    font-size: 0.9em;
    margin-right: 5px;
}

.rsvp .element :nth-child(2)::after {
    content: '--';
    color: grey;
    font-size: 0.9em;
    margin-left: 5px;
}

.rsvp .element .m-name {
    white-space: nowrap;
}

.rsvp .field-message {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rsvp .field-message label {
    font-size: 1.2em;
    color: #F8F4FF;
    font-weight: 500;
    margin-bottom: 10px;
}

.rsvp .field-message p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #F8F4FF;
    font-size: 0.9em;
}

.rsvp .field-message p span {
    color: aqua;
    cursor: pointer;
}

.rsvp .field-message input, 
.rsvp .field-message textarea {
    padding: 6px;
    background-color: #F8F4FF;
    border: none;
    border-radius: 5px;
}

.rsvp .field-message textarea {
    resize: none;
}

.rsvp .field-message input:focus,
.rsvp .field-message textarea:focus {
    outline: none;
}

.rsvp .button {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: flex-end;
}

.rsvp .button button {
    border: none;
    width: 100px;
    border-radius: 5px;
    background: blueviolet;
    color: #F8F4FF;
    padding: 8px;
    font-size: 0.9em;
    cursor: pointer;
}

.rsvp .button button:hover {
    background: blueviolet;
    opacity: 0.9;
}



/*============================================================================================
# Kedatangan
============================================================================================*/
.kedatangan {
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.kedatangan h1 {
    color: #F8F4FF;
}

.kedatangan h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F4FF;
}

.kedatangan::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 250px;
    height: 100px;
    width: 2px;
    background: #F8F4FF;
}

.kedatangan .form-kehadiran {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kedatangan .form-kehadiran form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kedatangan .form-kehadiran p,
.kedatangan .form-kehadiran label {
    font-size: 0.9em;
    color: #F8F4FF;
}

.kedatangan .form-kehadiran label {
    cursor: pointer;
}

.kedatangan .kehadiran-btn {
    width: 100%;
    height: 100%;
}

.kedatangan .kehadiran-btn button {
    cursor: pointer;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: #F8F4FF;
    padding: 8px;
    width: 100px;
}

.kedatangan .kehadiran-btn button:hover {
    background-color: blueviolet;
    opacity: 0.9;
}

/*============================================================================================
# Responsive Design
============================================================================================*/
@media (max-width: 768px) {
    header {
        padding: 30px;
    }

    .nav {
        display: none;
    }

    .search {
        display: none;
    }

    .banner {
        padding: 120px 30px;
    }

    .banner .bismillah {
        width: 100px;
        height: 50px;
    }

    .banner .content .intro {
        font-size: 0.8em;
    }

    .bg-slide .content {
        width: 80vw;
    }

    .bg-slide .content h1 {
        font-size: 3em;
    }

    .bg-slide .content p {
        font-size: 0.8em;
    }

    .banner .content .pengantin p {
        font-size: 0.9em;
    }

    .bg-slide .content li {
        font-size: 0.7em;
    }

    .bg-slide .content li span {
        font-size: 1.5em;
    }

    .circle.bg {
        width: 140vh;
        height: 140vh;
    }

    .circle.large {
        width: 70vh;
        height: 70vh;
    }

    .circle.small {
        width: 35vh;
        height: 35vh;
    }

    .bg-slide.active .circle.bg {
        transform: translate(0, 0) rotateZ(0);
        opacity: 1;
        visibility: visible;
    }

    .bg-slide.active .circle.large {
        transform: translate(0, 0) rotateZ(360deg);
        opacity: 1;
        visibility: visible;
    }

    .bg-slide.active .circle.small {
        transform: translate(0, 0) rotateZ(-720deg);
        opacity: 1;
        visibility: visible;
    }

    .lead {
        bottom: 100px;
        width: 150px;
        height: 150px;
    }

    .move-down ion-icon {
        font-size: 2em;
    }

    .slide-loader {
        bottom: 20px;
    }

    .share {
        left: 5px;
    }

    section.section-show {
        padding: 150px 30px 100px;
    }

    .about .img-box img {
        max-width: 80vw;
    }

    .about .img-box .corner-img {
        width: 25vw;
        right: -20px;
    }

    .about h4 {
        margin-top: 50px;
    }

    .about::before {
        top: 300px;
    }

    .services::before {
        top: 300px;
    }

    .section-bg-img {
        bottom: -500px;
        right: 0px;
    }

    .rsvp .element {
        padding: 0;
        gap: 10px;
    }

    .rsvp .field-message {
        width: 100%;
    }

    .rsvp .element p {
        font-size: 0.6em;
    }

    .rsvp .element :nth-child(2) {
        font-size: 0.6em;
    }

    .rsvp .element :nth-child(2)::before {
        font-size: 0.6em;
    }

    .rsvp .element :nth-child(2)::after {
        font-size: 0.6em;
    }
}